@(message: String, list: List[beans.RankingBean])

@main(message) {
	@if(list != null && list.size() > 0){
<table class="table table-condensed">
<thead>
<tr>
<th>ランキング</th>
<th>名前</th>
<th>総数</th>
<th>状況</th>
<th>前日比</th>
<th></th>
</tr>
</thead>
<tbody>
@for(ranking <- list){
<tr>
<td>@{ranking.getRanking.ranking}</td>
<td>@{ranking.getItem.title}</td>
<td>@{ranking.getRanking.totalCount}</td>
<td><div class="progress">
  <div class="progress-bar progress-bar-info" style="width: @{ranking.getCountPositivePercent}%">
    <span class="sr-only">@{ranking.getCountPositivePercent}%</span>
  </div>
  <div class="progress-bar progress-bar-warning" style="width: @{ranking.getCountNeutralPercent}%">
    <span class="sr-only">@{ranking.getCountNeutralPercent}%</span>
  </div>
  <div class="progress-bar progress-bar-danger" style="width: @{ranking.getCountNegativePercent}%">
    <span class="sr-only">@{ranking.getCountNegativePercent}%</span>
  </div>
</div>
</td>
<td>@{ranking.getRanking.comparison}</td>
<td></td>
</tr>
}
</tbody>
</table>

	}
}
