@(message: String, category: models.Category, beanList: List[beans.ItemBean])

@main(message) {
<h1>@{category.title}</h1>
	@if(beanList != null && beanList.size() > 0){
	    @for(bean <- beanList){
	    <div class="row">
	    <div class="col-md-1">@if(bean.getRanking > 0) {@{bean.getRanking}位}</div>
  <div class="col-md-4"><div id="chart_div@{bean.getItem.itemId}"></div>
  <p>総数：@{bean.getTotalCount} 最新ツイート日時：@if(bean.getLatestTweetDate != null) {@{bean.getLatestTweetDateString}}</p></div>
  <div class="col-md-7">
  <h1>@Html({bean.getItem.title})</h1>
  <p>@Html({bean.getItem.description})</p>
  <p><a class="btn btn-default" href="/detail/@{category.categoryId}/@{bean.getItem.itemId}">詳細</a></p>
  <p><small>@if(bean.getItem.newsItemTitle) {@Html({bean.getItem.newsItemTitle})}</small></p>
  <p><small>@if(bean.getItem.newsItemSnippet) {@Html({bean.getItem.newsItemSnippet})}</small></p>
  <p><small>@if(bean.getItem.newsItemUrl && bean.getItem.newsItemSource) {<a href="@{bean.getItem.newsItemUrl}">@{bean.getItem.newsItemSource}</a>}</small></p>
  <p>@if(bean.getItem.picture && bean.getItem.pictureSource) {<img src="@{bean.getItem.picture}" alt="@{bean.getItem.pictureSource})" />}</p>
   </div>
</div>
	      <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['ポジティブ',     @{bean.getCountPositive}],
          ['ネガティブ',  @{bean.getCountNegative}],
          ['ニュートラル',      @{bean.getCountNeutral}]
        ]);

        var options = {
          title: '',
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart_div@{bean.getItem.itemId}'));
        chart.draw(data, options);
      }
    </script>
	    }
	}

}
