@(message: String, bean: beans.ItemBean, tweetList: List[beans.TweetBean], currentPage: Integer, pageCount: Integer, countByItem: Integer, dateList: List[beans.DateItemBean])

@main(message) {
<h1>@Html({bean.getItem.title})</h1>

	    <div class="row">
	    <div class="col-md-1">@if(bean.getRanking > 0) {@{bean.getRanking}位}</div>
  <div class="col-md-4"><div id="chart_div@{bean.getItem.itemId}"></div></div>
  <div class="col-md-7">
  <p>@Html({bean.getItem.description})</p>
  <p><small>@if(bean.getItem.newsItemTitle) {@Html({bean.getItem.newsItemTitle})}</small></p>
  <p><small>@if(bean.getItem.newsItemSnippet) {@Html({bean.getItem.newsItemSnippet})}</small></p>
  <p><small>@if(bean.getItem.newsItemUrl && bean.getItem.newsItemSource) {<a href="@{bean.getItem.newsItemUrl}">@{bean.getItem.newsItemSource}</a>}</small></p>
  <p>@if(bean.getItem.picture && bean.getItem.pictureSource) {<img src="@{bean.getItem.picture}" alt="@{bean.getItem.pictureSource})" />}</p>
   </div>
</div>
	      <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['ポジティブ',     @{bean.getCountPositive}],
          ['ネガティブ',  @{bean.getCountNegative}],
          ['ニュートラル',      @{bean.getCountNeutral}]
        ]);

        var options = {
          title: '',
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart_div@{bean.getItem.itemId}'));
        chart.draw(data, options);
      }
    </script>
	    <div class="row"><div id="daily_chart_div@{bean.getItem.itemId}"></div></div>
<script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Date', 'ポジティブ', 'ネガティブ', 'ニュートラル'],
	    @for(item <- dateList){
          ['@{item.getDate}',  @{item.getCountPositive},       @{item.getCountNegative}, @{item.getCountNeutral}],
          }
        ]);

        var options = {
          title: '時系列'
        };

        var chart = new google.visualization.LineChart(document.getElementById('daily_chart_div@{bean.getItem.itemId}'));
        chart.draw(data, options);
      }
    </script>
    <div style="text-align:center;margin-top:20px;">@{currentPage}/@{pageCount}ページ [@{countByItem}件]</div>
<ul class="pager">

		@if(currentPage == 1) {
			<li class="previous disabled"><span>&laquo; Previous</span></li>
		} else {
			<li class="previous"><a href="@routes.ItemDetail.index(bean.getItem.categoryId, bean.getItem.itemId, currentPage - 1)">&laquo; Previous</a></li>
		}

		@if(currentPage == (pageCount-1)) {
			<li class="next disabled"><span>&raquo; Next</span></li>
		} else {
			<li class="next"><a href="@routes.ItemDetail.index(bean.getItem.categoryId, bean.getItem.itemId, currentPage + 1)">&raquo; Next</a></li>
		}

    </ul>


	    <div class="row" id="itemDetail">
	@if(tweetList != null && tweetList.size() > 0){
	    @for(tweet <- tweetList){
	    <div class="pull-left item">
	    @if(tweet.getTweet().point > 0L) {
	    <span class="label label-primary">ポジティブ</span>
} else{
@if(tweet.getTweet().point < 0L) {
	    <span class="label label-danger">ネガティブ</span>
}else{
	    <span class="label label-warning">ニュートラル</span>
	    }
	    }
	    <blockquote class="twitter-tweet" lang="ja" width="550"><p>@{tweet.getTweet().text}</p>&mdash; @{tweet.getTweet().tweeterUsetName} (@@@{tweet.getTweet().tweeterUserScreenName})
	    <a href="@{tweet.getUrl}" data-datetime="@{tweet.getDatetime}">@{tweet.getTweet().createdAt}</a></blockquote>
	    </div>
	    }
	}
	    </div>
	<ul class="pager">

		@if(currentPage == 1) {
			<li class="previous disabled"><span>&laquo; Previous</span></li>
		} else {
			<li class="previous"><a href="@routes.ItemDetail.index(bean.getItem.categoryId, bean.getItem.itemId, currentPage - 1)">&laquo; Previous</a></li>
		}

		@if(currentPage == (pageCount-1)) {
			<li class="next disabled"><span>&raquo; Next</span></li>
		} else {
			<li class="next"><a href="@routes.ItemDetail.index(bean.getItem.categoryId, bean.getItem.itemId, currentPage + 1)">&raquo; Next</a></li>
		}

    </ul>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
}
